<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">
	<div class="card m-2">
		<div class="card-header">
			JavaScript 코드 삽입
		</div>
		<div class="card-body">
			<script th:inline="javascript"> /* thymeleaf 표현식을 사용해 js에 데이터를 삽입 */
				let name = [[${name}]];
				console.log(name);
				
				let hobby = [[${hobby}]];
				console.log(hobby);
				
				let board = [[${board}]]; /* 자동으로 java 객체가 js 오브젝트로 변경된다 */
				console.log(board);
				
				let jsonboard = JSON.parse([[${jsonBoard}]]);
				console.log(jsonboard);
			</script>
			
			<script th:inline="javascript">
				// server side data binding
				name = [[${name}]];
				// client side data binding
				let message = `Your's Name is ${name}`;
				console.log("message : " + message);
				
				/*
				Backtick client side에서 실행 때 Backtick의 바인딩 기호 : ${} 
				let data = "타임리프";
				message = `클아이언트 데이터 바인딩 :${data}`;
				console.log("message : " + message);
				*/
			</script>
		</div>
	</div>
</th:block>
</th:block>
</html>