<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout2::setContent(~{this::content})}">
<th:block th:fragment="content">

	<link rel="stylesheet" th:href="@{/css/cart.css}">

           <div class="ui container">
            <div class="ui one column padded grid center aligned">
                <h1 class="column">쇼핑백</h1>
            </div>
            <table class="ui padded celled table">
                <thead>
                    <tr>
                        <th class="center aligned">
                            <input type="checkbox" name="all_check" />
                        </th>
                        <th class="center aligned">상품정보</th>
                        <th class="center aligned">수량</th>
                        <th class="center aligned">판매가</th>
                        <th class="center aligned">선택</th>
                    </tr>
                </thead>
                <tbody class="info-body">
                    
                </tbody>
            </table>
            <div class="ui divider"></div>
            <div>
                <div class="ui center aligned three column grid">
                    <div class="row">
                        <div class="column"></div>
                        <div class="column">
                            <div class="ui vertical">총 <span class="yellow" id="p_amount">0</span>개 상품</div>
                        </div>
                        <div class="column right aligned">
                            <div class="ui vertical">
                                <div class="item">
                                    <span class="item-key">상품합계</span>
                                    <div class="span-wrap"><i class="won sign icon small"></i><span class="item-value" id="p_total">0</span></div>
                                </div>
                                <div class="item">
                                    <span class="item-key">배송비</span>
                                    <div class="span-wrap"><i class="won sign icon small"></i><span class="item-value" id="postprice">0</span></div>
                                </div>
                                <div class="item">
                                    <span class="item-key">합계</span>
                                    <div class="span-wrap"><i class="won sign icon small"></i><span class="item-value" id="sumprice">0</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui divider"></div>
            <div class="ui five column center aligned padded grid">
                <div class="column">
                    <button class="ui button select-delete">선택 상품 삭제</button>
                </div>

                <div class="column">
                    <button class="ui secondary button select-order" > 선택 상품 주문 </button>
                </div>
            </div>
        </div>
        
        <div class="modal-soldout modal-wrap">
		    <div class="modal">
		        <div class="close-row">
		            <a href="javascript:modalOff('modal-soldout')"><i class="close icon"></i></a>
		        </div>
		        <div class="modal-content">
		            <p>재고가 부족합니다.</p>
		        </div>
		        <div class="modal-btns"><a href="javascript:modalOff('modal-soldout')" class="btn-continue">확인</a></div>
		    </div>
		</div>
        <div class="modal-delete modal-wrap">
		    <div class="modal">
		        <div class="close-row">
		            <a href="javascript:modalOff('modal-delete')"><i class="close icon"></i></a>
		        </div>
		        <div class="modal-content">
		            <p>해당 상품을 쇼핑백에서 삭제하시겠습니까?</p>
		        </div>
		        <div class="modal-btns"><a href="#" class="btn-tocart">삭제</a><a class="btn-continue" href="javascript:modalOff('modal-delete')">취소</a></div>
		    </div>
		</div>
        <div class="modal-deletelist modal-wrap">
		    <div class="modal">
		        <div class="close-row">
		            <a href="javascript:modalOff('modal-delete')"><i class="close icon"></i></a>
		        </div>
		        <div class="modal-content">
		            <p>선택한 상품들을 쇼핑백에서 삭제하시겠습니까?</p>
		        </div>
		        <div class="modal-btns"><a href="javascript:pListDelete()" class=" btn-tocart">삭제</a><a class="btn-continue" href="javascript:modalOff('modal-deletelist')">취소</a></div>
		    </div>
		</div>
		
        <div class="modal-info modal-wrap">
		    <div class="modal">
		        <div class="close-row">
		            <a href="javascript:modalOff('modal-info')"><i class="close icon"></i></a>
		        </div>
		        <div class="modal-content">
		            <p>다음 상품 목록이 품절되어 삭제되었습니다.</p>
		            <div class="deleteProductInfo">
		            	<br/>
		            </div>
		        </div>
		        <div class="modal-btns"><a class="btn-continue" href="javascript:modalOff('modal-info')">확인</a></div>
		    </div>
		</div>
		
        <div class="modal-duplicated modal-wrap">
		    <div class="modal">
		        <div class="close-row">
		            <a href="javascript:modalOff('modal-duplicated')"><i class="close icon"></i></a>
		        </div>
		        <div class="modal-content">
		            <p>이미 쇼핑백에 동일한 상품이 있습니다.</p>
		        </div>
		        <div class="modal-btns"><a class="btn-continue" href="javascript:modalOff('modal-duplicated')">확인</a></div>
		    </div>
		</div>
		
        <div class="modal-nochoose modal-wrap">
		    <div class="modal">
		        <div class="close-row">
		            <a href="javascript:modalOff('modal-nochoose')"><i class="close icon"></i></a>
		        </div>
		        <div class="modal-content">
		            <p>선택한 상품이 없습니다.</p>
		        </div>
		        <div class="modal-btns"><a class="btn-continue" href="javascript:modalOff('modal-nochoose')">확인</a></div>
		    </div>
		</div>
		
        <script th:src="@{/js/cart.js}"></script>
</th:block>
</th:block>

</html>