<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{common/layout::setContent(~{this::content})}">
<th:block th:fragment="content">

	<link rel="stylesheet" th:href="@{/css/event.css}" />
	
	    <h1 class="pg-title">이벤트</h1>

        <div class="ui container">
            <h2 class="pt-title">진행 중인 이벤트</h2>
            <div class="couproceed">
                <h3 class="pt-subtitle">선착순 이벤트 쿠폰</h3>
                <!-- 이벤트 쿠폰 -->
                <div class="couoption">
                    <div class="coutimer">
                        <p class="explain"></p>
                        <p class="d-day"></p>
                    </div>
                    <p class="coucontent">50% 할인</p>
                    <a class="imgbtn" href="#"><img th:src="@{/images/coupone.png}" alt="쿠폰이미지" /></a>
                </div>
            </div>
            <h2 class="pt-title">종료된 이벤트</h2>
            <div class="couended">
                <h3 class="pt-subtitle">가입 축하 쿠폰</h3>
                <img th:src="@{/images/coupone2.png}" alt="쿠폰이미지" />
                <img th:src="@{/images/coupone3.png}" alt="쿠폰이미지" />

                <h3 class="pt-subtitle">FRIEND 등급 쿠폰</h3>
                <img th:src="@{/images/coupone4.png}" alt="쿠폰이미지" />
                <img th:src="@{/images/coupone5.png}" alt="쿠폰이미지" />
                <img th:src="@{/images/coupone6.png}" alt="쿠폰이미지" />
                <h3 class="pt-subtitle">H.Point 통합 마일리지 해택</h3>
                <img th:src="@{/images/coupone7.png}" alt="쿠폰이미지" />
                <img th:src="@{/images/coupone8.png}" alt="쿠폰이미지" />
                <img th:src="@{/images/coupone9.png}" alt="쿠폰이미지" />
            </div>
        </div>

	<script th:src="@{/js/event.js}"></script>

</th:block>
</th:block>

</html>