header {
	border-bottom: 1px solid #e5e5e5;
}

.header-container {
	max-width: 1180px;
	margin: 0 auto;
	height: 84px;
	position: relative;
	text-align: center;
}

/* 가운데 로고 */
.header-center {
	height: 84px;
	line-height: 84px;
}

.header-logo {
	display: inline-block;
	vertical-align: middle;
	width: 190px;
	height: 24px;
	line-height: 84px;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background: url(/images/top-header-handsome-logo.png)
		no-repeat;
}

/* 오른쪽 메뉴 */
.header-right {
    position: absolute;
    top: 0;
    right: 15px;
}

.header-option {
    font-size: 13px;
    font-weight: 600;
}
.header-option > li {
    float: left;
    text-align: center;
    padding: 30px 10px;
}

.header-option > li a {
    display: block;
    height: 24px;
    line-height: 24px;
}
.header-option > li a:hover {
    text-decoration: underline;
}

.my-page {
    height: 54px;
    overflow: hidden;
}
.sub-option {
	padding-top: 2px;
}

/* 로그아웃 버튼 */
.header-logout {
	cursor: pointer;
	display: block;
    height: 24px;
    line-height: 24px;
	border: none;
	background-color: white;
	color: #000;
	font-weight: 600;
	font-size: 13px;
}
.header-logout:hover {
	text-decoration: underline;
}

.cartcnt {
	display: inline;
}